<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="102400" executionTimeout="360" />
  </system.web>
  <!-- Database -->
  <connectionStrings>
    <add name="asecpjConnectionString" connectionString="server=localhost;database=asecpj;User Id=root;Persist Security Info=True;password=root"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
